.header {
  height: 45px;
  background-color: #242424;
  color: #6e6e6e; }
  .header .main-container .header-container {
    height: 45px;
    display: flex;
    justify-content: space-between; }
    .header .main-container .header-container a {
      text-decoration: none; }
    .header .main-container .header-container ul.list-header {
      display: flex;
      width: 310px;
      height: 45px;
      font-size: 12px;
      margin: 0; }
      .header .main-container .header-container ul.list-header li {
        text-transform: uppercase;
        width: 155px; }

#logo {
  height: 45px;
  width: 160px;
  font-size: 26px;
  color: #57c5a0;
  text-transform: uppercase;
  padding-top: 5px;
  margin: 0; }

.login {
  height: 45px;
  display: flex;
  align-items: center;
  border-left: solid 1px #383838;
  border-right: solid 1px #383838; }
  .login .btn.btn-link {
    width: 155px;
    color: #6e6e6e;
    text-transform: uppercase;
    font-size: 12px;
    height: 45px;
    text-decoration: none; }

.nav-search {
  border-left: solid 1px #383838;
  border-right: solid 1px #383838;
  padding: 0;
  height: 45px; }
  .nav-search .dropdown, .nav-search .dropdown-toggle {
    height: 45px; }
  .nav-search .dropdown-toggle .dropdown-menu.show {
    background-color: #2e2e2e;
    width: 155px;
    margin: 0;
    padding: 0; }
    .nav-search .dropdown-toggle .dropdown-menu.show a.dropdown-item {
      font-size: 12px;
      color: #6e6e6e; }
  .nav-search .dropdown-toggle:after {
    content: none; }
  .nav-search .search-form .input-grup {
    width: 155px;
    height: 45px; }
  .nav-search input.search-box.form-control {
    width: 155px;
    display: none; }
  .nav-search .search-box {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    padding-right: 40px;
    height: 45px;
    width: 170px; }
  .nav-search .search-box:focus {
    outline: none;
    box-shadow: none;
    color: #fff;
    -webkit-text-fill-color: #a3a0a0; }
  .nav-search .input-group-btn {
    padding-top: 5px;
    position: relative;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer; }
    .nav-search .input-group-btn button {
      background: none;
      width: 20px;
      height: 20px;
      border: none;
      line-height: 20px;
      cursor: pointer; }
    .nav-search .input-group-btn button:focus {
      outline: none;
      box-shadow: none; }

.nav-search
.nav-search .search-box:-webkit-autofill,
.nav-search .search-box:-webkit-autofill:hover,
.nav-search .search-box:-webkit-autofill:focus
.nav-search .search-box select:-webkit-autofill,
.nav-search .search-box select:-webkit-autofill:hover,
.nav-search .search-box select:-webkit-autofill:focus {
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
  color: #fff;
  -webkit-text-fill-color: #a3a0a0; }

.modal-dialog {
  color: #7d7d7d;
  width: 400px; }
  .modal-dialog .modal-content {
    background-color: #2e2e2e;
    color: #7d7d7d;
    display: flex;
    justify-content: center; }
    .modal-dialog .modal-content .modal-header {
      justify-content: center; }
    .modal-dialog .modal-content .modal-footer {
      justify-content: center; }
    .modal-dialog .modal-content .modal-body {
      display: flex;
      justify-content: center; }
    .modal-dialog .modal-content .form-control {
      background-color: #7d7d7d;
      border: none;
      border-radius: 0;
      width: 300px; }
    .modal-dialog .modal-content .col-form-label {
      font-size: 14px; }

.navigation {
  height: 60px;
  width: 100%;
  background-color: white; }

.container-nav {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .container-nav .navlist {
    width: 550px;
    height: 60px;
    padding: 0;
    border-left: solid 1px #a3a0a0; }
  .container-nav .container-icons {
    width: 180px;
    display: flex;
    justify-items: center;
    border-left: solid 1px #a3a0a0; }
    .container-nav .container-icons .icon-btn {
      width: 90px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: solid 1px #a3a0a0; }
      .container-nav .container-icons .icon-btn span.number {
        width: 20px;
        height: 20px;
        background-color: #a3a0a0;
        border-radius: 3px;
        color: white;
        margin: 10px;
        padding: 0 3px;
        cursor: pointer;
        font-size: 12px; }
      .container-nav .container-icons .icon-btn span.number:hover {
        background-color: #57c5a0; }

ul.navbar-nav {
  width: 560px;
  display: flex;
  justify-content: space-around; }
  ul.navbar-nav li.nav-item {
    width: 100%;
    margin: auto;
    border-right: solid 1px #a3a0a0;
    display: flex;
    justify-content: center; }
    ul.navbar-nav li.nav-item a.nav-link {
      font-size: 16px;
      height: 60px;
      padding: 20px; }

.navbar-light .navbar-nav li.nav-item .active {
  color: #57c5a0; }

.main-slider {
  height: 460px;
  background-image: url("../img/img_bg.png"); }
  .main-slider .slider {
    height: 460px; }

.action {
  height: 90px;
  background-color: #2e2e2e; }

.slick-dots li {
  width: 190px;
  height: 10px;
  border-right: 10px solid black;
  border-left: 10px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background: black;
  color: #fff;
  text-decoration: none; }

.controller {
  width: 190px;
  color: #fff;
  text-decoration: none; }

li.slick-active {
  background-color: #57c5a0; }
  li.slick-active .controller .a-desc {
    color: white; }
  li.slick-active .controller .b-desc {
    color: white; }

ul.slick-dots {
  display: flex;
  justify-content: center;
  padding: 10px; }
  ul.slick-dots .desc {
    color: black; }
  ul.slick-dots .a-desc {
    font-size: 18px;
    font-family: aller;
    display: flex;
    justify-content: center;
    color: #adadad;
    margin-top: 10px; }
  ul.slick-dots .b-desc {
    font-family: aller;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #adadad; }

.img-text .slider-text {
  height: 325px;
  width: 400px; }
  .img-text .slider-text .price {
    height: 68px;
    width: 68px;
    background-color: #57c5a0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px; }
  .img-text .slider-text h6 {
    font-size: 40px; }
  .img-text .slider-text p {
    font-size: 20px; }
  .img-text .slider-text .icons {
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between; }
    .img-text .slider-text .icons span.icon {
      height: 40px;
      width: 40px;
      background-color: white;
      opacity: 0.8;
      color: #6e6e6e;
      display: flex;
      justify-content: center;
      align-items: center; }
    .img-text .slider-text .icons span.icon:hover {
      color: #57c5a0;
      cursor: pointer; }

.slider .slide {
  height: 460px; }
  .slider .slide .img-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 460px;
    background-image: url("../img/Bg.png");
    margin-left: -30px; }

.special-container {
  height: 230px;
  background-color: #242424; }

.container-pic {
  width: 300px;
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.special-offers .container-desc {
  width: 230px; }

.all-container {
  height: 230px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.container-desc {
  height: 60px;
  width: 180px;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: aller;
  font-size: 25px;
  opacity: 0.8; }

.on-sale {
  background-image: url("../img/special.png"); }

.special-offers {
  background-image: url("../img/special2.png"); }

.must-have {
  background-image: url("../img/special3.png"); }

.products {
  height: 1000px;
  background-color: #ebe7df; }

.cont.new-arrivals {
  height: 360px; }

.cont.best-seller {
  height: 410px;
  border-bottom: 1px solid #bcb5a7; }

.main-container .shipping-and-test-blog {
  height: 235px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebe7df;
  font-family: aller; }
  .main-container .shipping-and-test-blog .free-shipping {
    width: 220px;
    height: 185px;
    background-color: #dfdbd4;
    padding: 30px 15px; }
    .main-container .shipping-and-test-blog .free-shipping h5 {
      font-size: 14px;
      font-weight: bold; }
    .main-container .shipping-and-test-blog .free-shipping p {
      font-size: 12px; }
  .main-container .shipping-and-test-blog .testimonials {
    width: 220px;
    height: 185px;
    background-color: #dfdbd4;
    padding: 30px 15px; }
    .main-container .shipping-and-test-blog .testimonials h5 {
      font-size: 14px;
      font-weight: bold; }
    .main-container .shipping-and-test-blog .testimonials p {
      font-size: 12px; }

.blog-news {
  width: 460px;
  height: 185px;
  background-color: #dfdbd4;
  padding: 30px 20px; }
  .blog-news h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px; }
  .blog-news .onefade, .blog-news .twofade {
    width: 420px;
    height: 100px; }

.new {
  height: 40px;
  display: flex;
  margin: 10px 0; }
  .new .date {
    width: 35px;
    height: 35px;
    background-color: #57c5a0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center; }
  .new .text {
    padding-left: 10px;
    width: 360px; }
    .new .text h6 {
      font-size: 14px;
      font-weight: bold;
      margin: 0; }
    .new .text p {
      font-size: 12px; }

.onefade {
  display: none; }

.title-button {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .title-button .btn-outline-secondary {
    width: 100px;
    height: 30px;
    border-radius: 0;
    padding: 6px;
    font-size: 14px;
    color: #bfb8ab;
    border-color: #bfb8ab; }

h1 {
  font-size: 25px; }

.shoes-cont {
  height: 275px;
  display: flex;
  justify-content: space-between; }
  .shoes-cont .shoe {
    height: 275px;
    width: 300px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer; }
    .shoes-cont .shoe .pic {
      height: 220px;
      background-image: url("../img/product.png"); }
      .shoes-cont .shoe .pic .badge-on-sale {
        height: 68px;
        width: 68px;
        background-color: black;
        color: white;
        font-size: 13px;
        float: right;
        margin-right: 13px;
        padding: 28px 5px;
        font-weight: bold; }
    .shoes-cont .shoe .description {
      height: 55px;
      border-top: 1px solid #a3a0a0;
      display: flex;
      align-items: flex-end; }
      .shoes-cont .shoe .description .price {
        height: 68px;
        width: 68px;
        background-color: #57c5a0;
        margin-left: 15px;
        font-size: 13px;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center; }
      .shoes-cont .shoe .description h1 {
        padding: 20px 15px;
        margin: 0;
        font-size: 18px;
        height: 55px; }
  .shoes-cont .description:hover #icons {
    display: flex; }
  .shoes-cont .description:hover h1 {
    display: none; }

#icons {
  display: none; }

.description .icons {
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: 5px; }
  .description .icons span.icon {
    height: 40px;
    width: 40px;
    background-color: white;
    color: #6e6e6e;
    display: flex;
    justify-content: center;
    align-items: center; }
  .description .icons span.icon:hover {
    color: #57c5a0;
    cursor: pointer; }

.pic .badge-out-off-stock {
  height: 68px;
  width: 68px;
  background-color: #f27e4b;
  color: white;
  font-size: 13px;
  float: right;
  margin-right: 13px;
  padding: 14px 10px;
  font-weight: bold; }

.prefooter {
  height: 365px;
  background-color: #242424; }

.main-container .second-cont {
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 40px; }
  .main-container .second-cont .email {
    height: 40px;
    width: 250px; }

.main-container .first-cont {
  height: 245px;
  display: flex;
  justify-content: space-around;
  font-family: aller; }
  .main-container .first-cont .cont {
    width: 280px;
    height: 245px;
    color: #a4a4a4;
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 15px; }

.cont .picture-container {
  height: 160px;
  width: 245px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer; }
  .cont .picture-container .first {
    background-image: url("../img/flickr1.png");
    background-size: cover; }
  .cont .picture-container .second {
    background-image: url("../img/flickr2.png");
    background-size: cover; }
  .cont .picture-container .third {
    background-image: url("../img/flickr3.png");
    background-size: cover; }
  .cont .picture-container .fourth {
    background-image: url("../img/flickr4.png");
    background-size: cover; }
  .cont .picture-container .fifth {
    background-image: url("../img/flickr5.png");
    background-size: cover; }
  .cont .picture-container .sixth {
    background-image: url("../img/flickr6.png");
    background-size: cover; }
  .cont .picture-container .picture {
    height: 60px;
    width: 76px;
    background-color: #57c5a0; }

.first-cont .cont {
  text-align: left; }
  .first-cont .cont img {
    padding-top: 25px; }
  .first-cont .cont h5 {
    font-size: 14px;
    margin: 0; }
  .first-cont .cont p.widget {
    font-size: 12px;
    text-align: justify;
    padding-top: 25px;
    font-style: italic; }
  .first-cont .cont .twitter-text {
    display: none;
    font-size: 12px;
    padding-top: 25px;
    font-style: italic; }
    .first-cont .cont .twitter-text div {
      padding: 5px 0;
      color: #c4c5bf; }
  .first-cont .cont span {
    color: #57c5a0; }

.email .input-group .form-control {
  background-color: #2e2e2e;
  border: none;
  border-radius: 0;
  font-size: 12px;
  font-style: italic;
  font-family: aller; }

.input-group-append .input-group-text {
  background-color: #7d7d7d;
  border: none;
  border-radius: 0;
  cursor: pointer; }

.second-cont .icons {
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: space-between; }
  .second-cont .icons span.icon {
    width: 40px;
    height: 40px;
    background-color: #2e2e2e;
    color: #7d7d7d;
    display: flex;
    justify-content: center;
    align-items: center; }
  .second-cont .icons span.icon:hover {
    background-color: #242424;
    cursor: pointer; }

.modal-dialog-centered .modal-content {
  height: 120px;
  width: 200px; }
  .modal-dialog-centered .modal-content .modal-body {
    height: 120px;
    width: 200px; }

.footer {
  height: 90px;
  background-color: #2e2e2e;
  color: #7d7d7d;
  font-size: 12px; }
  .footer .footer-cont {
    display: flex;
    justify-content: space-between;
    padding-top: 39px; }

.banner {
  height: 260px;
  width: 100%;
  background-image: url("../img/banner_products.png"); }
  .banner .text {
    height: 260px;
    width: 440px;
    margin-left: 500px;
    padding-top: 30px; }
    .banner .text .price-title {
      display: flex;
      align-items: center; }
      .banner .text .price-title .price {
        height: 68px;
        width: 68px;
        background-color: #57c5a0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px; }
      .banner .text .price-title h6 {
        font-size: 40px;
        padding-left: 20px; }
    .banner .text p {
      font-size: 20px; }

.shop-by {
  color: white;
  height: 90px;
  background-color: #2e2e2e; }
  .shop-by .shop-by-container {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .shop-by .shop-by-container h1 {
      font-size: 22px; }
  .shop-by .cont {
    height: 60px;
    width: 220px;
    background-color: #242424;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer; }
    .shop-by .cont h1 {
      font-size: 18px; }
  .shop-by .dropdown-toggle::after {
    content: none; }
  .shop-by .dropdown-menu {
    width: 220px;
    color: white;
    background-color: #242424; }
    .shop-by .dropdown-menu .dropdown-item {
      color: white; }
    .shop-by .dropdown-menu .dropdown-item:hover {
      background-color: #57c5a0; }

.cont-all {
  background-color: #ebe7df; }

.products-container {
  height: 100%; }
  .products-container .title-buttons {
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center; }
    .products-container .title-buttons h1 {
      margin: 0; }
    .products-container .title-buttons .left {
      height: 30px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .products-container .title-buttons .left p {
        height: 10px;
        font-size: 12px;
        margin: 0;
        color: #bcb5a7; }
      .products-container .title-buttons .left h1 {
        height: 30px;
        font-size: 25px; }
    .products-container .title-buttons .right {
      width: 360px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .products-container .title-buttons .right p {
        font-size: 14px;
        margin: 0;
        color: #bcb5a7; }
      .products-container .title-buttons .right .icon {
        height: 30px;
        width: 30px;
        border: 1px solid #bcb5a7;
        color: #bcb5a7;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
      .products-container .title-buttons .right .sort {
        height: 30px;
        width: 200px;
        border: 1px solid #bcb5a7;
        color: #bcb5a7;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px; }
        .products-container .title-buttons .right .sort span {
          padding: 0 10px; }
  .products-container .only-products {
    height: 875px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #bcb5a7; }
    .products-container .only-products .shoe {
      height: 275px;
      width: 300px;
      background-color: white;
      background-repeat: no-repeat;
      background-size: auto;
      cursor: pointer; }
      .products-container .only-products .shoe .pic {
        height: 220px;
        background-image: url("../img/product.png"); }
      .products-container .only-products .shoe .badge-on-sale {
        height: 68px;
        width: 68px;
        background-color: black;
        color: white;
        font-size: 13px;
        float: right;
        margin-right: 13px;
        padding: 28px 5px;
        font-weight: bold; }
      .products-container .only-products .shoe .description {
        height: 55px;
        border-top: 1px solid #a3a0a0;
        display: flex;
        align-items: flex-end; }
        .products-container .only-products .shoe .description h1 {
          padding: 20px 15px;
          margin: 0;
          font-size: 18px;
          height: 55px; }
        .products-container .only-products .shoe .description .price {
          height: 68px;
          width: 68px;
          background-color: #57c5a0;
          margin-left: 15px;
          font-size: 13px;
          color: white;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center; }
    .products-container .only-products .shoe:hover #icons {
      display: flex; }
    .products-container .only-products .shoe:hover h1 {
      display: none; }
  .products-container #icons {
    display: none; }
  .products-container .description .icons {
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: 5px; }
    .products-container .description .icons span.icon {
      height: 40px;
      width: 40px;
      background-color: white;
      color: #6e6e6e;
      display: flex;
      justify-content: center;
      align-items: center; }
    .products-container .description .icons span.icon:hover {
      color: #57c5a0;
      cursor: pointer; }
  .products-container .only-products .pic.badge-out-off-stock {
    height: 68px;
    width: 68px;
    background-color: #f27e4b;
    color: white;
    font-size: 13px;
    float: right;
    margin-right: 13px;
    padding: 14px 10px;
    font-weight: bold; }

#second {
  display: none; }

.only-products.second {
  height: 100%; }
  .only-products.second .line-shoe {
    background-color: #ffffff;
    height: 220px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; }
    .only-products.second .line-shoe .pic {
      border-right: 1px solid #bcb5a7;
      height: 220px;
      width: 300px;
      background-image: url("../img/product.png"); }
    .only-products.second .line-shoe .price {
      height: 68px;
      width: 68px;
      background-color: #57c5a0;
      font-size: 13px;
      color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center; }
    .only-products.second .line-shoe .icons {
      height: 40px;
      width: 200px;
      display: flex;
      justify-content: space-around;
      margin: 5px; }
      .only-products.second .line-shoe .icons span.icon {
        height: 40px;
        width: 40px;
        background-color: white;
        color: #6e6e6e;
        display: flex;
        justify-content: center;
        align-items: center; }
      .only-products.second .line-shoe .icons span.icon:hover {
        color: #57c5a0;
        cursor: pointer; }
    .only-products.second .line-shoe .center {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .only-products.second .line-shoe .right {
      width: 68px; }
      .only-products.second .line-shoe .right .badge-on-sale {
        height: 68px;
        width: 68px;
        background-color: black;
        color: white;
        font-size: 13px;
        float: right;
        padding: 28px 5px;
        font-weight: bold; }

@font-face {
  font-family: al;
  src: url("../fonts/Aller_Std_Rg.ttf"); }

/* BASE*/
* {
  margin: 0;
  padding: 0;
  font-family: aller; }

body {
  margin: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

/* LAYOUT*/
.main-container {
  width: 100%;
  height: 100%;
  margin: auto; }

/* MEDIA QUERIES*/
@media (min-width: 960px) {
  .main-container {
    max-width: 940px; } }

@media (min-width: 768px) and (max-width: 959px) {
  .main-container {
    max-width: 720px; }
    .main-container .shipping-and-test-blog .free-shipping {
      display: none; }
    .main-container .cont.twitter {
      display: none; }
    .main-container .first-cont {
      justify-content: space-between; }
      .main-container .first-cont .cont {
        padding-left: 0;
        padding-right: 0; }
    .main-container .second-cont {
      padding: 40px 0; }
    .main-container .cont {
      padding-left: 0;
      padding-left: 0; }
    .main-container .cont.flickr {
      width: 245px; }
    .main-container .container-pic {
      width: 220px;
      height: 180px; }
    .main-container .special-offers .container-desc {
      width: 190px; }
    .main-container .shoes-cont .shoe {
      height: 270px;
      width: 220px; }
      .main-container .shoes-cont .shoe .pic {
        height: 220px;
        background-image: url("../img/shoe_small.png"); }
      .main-container .shoes-cont .shoe .description {
        height: 50px; }
        .main-container .shoes-cont .shoe .description .icons {
          width: 130px; }
        .main-container .shoes-cont .shoe .description h1 {
          padding: 12px;
          text-align: center; }
        .main-container .shoes-cont .shoe .description .icons span.icon {
          height: 40px;
          width: 25px; }
    .main-container .navlist {
      width: 550px; }
    .main-container .container-icons {
      width: 170px;
      border: none; }
      .main-container .container-icons .icon-btn {
        width: 85px;
        height: 60px; }
    .main-container ul.navbar-nav {
      width: 550px; }
    .main-container .navbar-expand-lg {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .main-container .navbar-expand-lg .navbar-toggler {
      display: none; }
    .main-container .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
    .main-container .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row; } }

@media (min-width: 320px) and (max-width: 767px) {
  .header .main-container .header-container ul.list-header {
    width: 160px; }
  .main-container .modal-dialog {
    width: 250px;
    height: 300px; }
    .main-container .modal-dialog .modal-content {
      width: 250px;
      height: 300px; }
      .main-container .modal-dialog .modal-content .form-control {
        width: 150px; }
      .main-container .modal-dialog .modal-content .modal-body {
        padding: 0; }
      .main-container .modal-dialog .modal-content button.btn.btn-secondary {
        height: 35px; }
  .prefooter {
    height: 500px; }
    .prefooter .main-container .first-cont {
      height: 380px;
      flex-direction: column;
      align-items: center; }
      .prefooter .main-container .first-cont .cont {
        height: 190px;
        padding-top: 20px; }
        .prefooter .main-container .first-cont .cont .picture-container {
          width: 250px; }
        .prefooter .main-container .first-cont .cont .form {
          width: 187px; }
    .prefooter .main-container .second-cont {
      flex-direction: column;
      padding: 15px;
      align-items: center; }
      .prefooter .main-container .second-cont .email {
        width: 220px; }
        .prefooter .main-container .second-cont .email .input-group .form-control {
          width: 188px; }
  .special-container {
    height: 540px; }
    .special-container .all-container {
      height: 540px;
      align-items: center;
      flex-direction: column; }
      .special-container .all-container .container-pic {
        width: 250px;
        height: 170px; }
  .products {
    height: 2200px; }
  .main-container {
    max-width: 320px; }
    .main-container .cont.new-arrivals {
      height: 935px; }
    .main-container .cont.best-seller {
      height: 950px; }
    .main-container .shoes-cont {
      height: 850px;
      flex-direction: column;
      align-items: center; }
      .main-container .shoes-cont .shoe {
        height: 275px;
        width: 250px; }
    .main-container .shipping-and-test-blog {
      height: 315px;
      justify-content: space-around;
      flex-direction: column; }
      .main-container .shipping-and-test-blog .testimonials {
        width: 320px;
        height: 140px;
        padding: 15px; }
      .main-container .shipping-and-test-blog .free-shipping {
        display: none; }
      .main-container .shipping-and-test-blog .blog-news {
        width: 320px;
        height: 140px;
        padding: 15px; }
      .main-container .shipping-and-test-blog .blog-news .onefade, .main-container .shipping-and-test-blog .blog-news .twofade {
        width: 300px;
        height: 90px; }
      .main-container .shipping-and-test-blog .new {
        height: 35px;
        padding: 0; }
        .main-container .shipping-and-test-blog .new .text p {
          font-size: 10px;
          margin: 0; }
    .main-container .nav-search {
      display: none; }
    .main-container .navlist {
      width: 140px; }
    .main-container .navigation .navbar {
      position: static; }
    .main-container .navigation .navbar-collapse {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: #fff;
      width: 100%;
      z-index: 10;
      top: 106px; }
    .main-container div#navbarNav {
      width: 320px;
      z-index: 100;
      background-color: white; }
    .main-container ul.navbar-nav {
      width: 100%; }
    .main-container li.nav-item {
      border-right: none; }
    .main-container .slider .slide .img-text {
      margin: 0;
      background-image: url("../img/Bg_small.png"); }
      .main-container .slider .slide .img-text .slider-text {
        height: 350px;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
        .main-container .slider .slide .img-text .slider-text h6 {
          font-size: 25px; }
        .main-container .slider .slide .img-text .slider-text p {
          font-size: 14px; }
        .main-container .slider .slide .img-text .slider-text .price {
          height: 50px;
          width: 50px;
          opacity: 0.8; }
    .main-container .slick-dots li {
      width: 100px;
      height: 10px; }
      .main-container .slick-dots li .a-desc {
        font-size: 15px; }
      .main-container .slick-dots li .b-desc {
        font-size: 10px; }
    .main-container .controller {
      width: 100px; }
    .main-container .cont.twitter {
      display: none; }
  .footer-cont {
    flex-direction: column;
    align-items: center;
    padding-top: 10px; } }
