@mixin align () {
    display:flex;
    justify-content: space-between;
  } 

.header{
    height:45px;
    background-color:rgb(36,36,36);
    color:#6e6e6e;
    .main-container .header-container{
        height:45px;
        @include align ();
        
        a{ 
            text-decoration: none;

        }
        ul.list-header{
    
            display: flex; 
            width:310px; 
            height: 45px; 
            font-size: 12px;
            margin: 0;
             li{
                text-transform: uppercase; 
                width:155px;      
            } 
           
         }
         
    }
}
 
#logo {
    height:45px;
    width:160px;
    font-size:26px;
    color:#57c5a0;
    text-transform: uppercase;
    padding-top:5px;   
    margin:0;
}

.login {
    height: 45px;
    display: flex;
    align-items: center;
    border-left: solid 1px #383838;
    border-right: solid 1px #383838;
    .btn.btn-link {
        width:155px;
        color:#6e6e6e;
        text-transform: uppercase;
        font-size: 12px;
        height: 45px;
        text-decoration: none;
        
        
    }
           
}

.nav-search{
        border-left: solid 1px #383838;
        border-right: solid 1px #383838;
        padding: 0;
        height: 45px;
        .dropdown,.dropdown-toggle{
            height:45px;
        } 

        .dropdown-toggle{
        .dropdown-menu.show {
            background-color: #2e2e2e;
            width:155px;
            margin:0;
            padding:0;
           
            a.dropdown-item{
                font-size:12px;
                color:#6e6e6e;
            }
        }}

        .dropdown-toggle:after{

            content:none;
        }
        .search-form .input-grup{
            width:155px;
            height:45px;
        }
        input.search-box.form-control{
            width:155px;
            display: none;
        }
       
        .search-box{
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 12px;
            padding-right: 40px;
            height: 45px;
            width: 170px;
    }   
        .search-box:focus{
        outline: none;
        box-shadow: none;
        color: #fff;
        -webkit-text-fill-color: #a3a0a0;
}
        .input-group-btn{
                 padding-top: 5px;
                 position: relative;
                 position: absolute;
                 top: 5px;
                 right: 15px;
                 cursor: pointer;
                 
                 button{
                    background: none;
                    width: 20px;
                    height: 20px;
                    border: none;
                    line-height: 20px;
                    cursor: pointer;
                } 
                button:focus{
        
                    outline: none;
                    box-shadow: none;
                }   
             }
              
    }

.nav-search 
    .nav-search .search-box:-webkit-autofill,
    .nav-search .search-box:-webkit-autofill:hover, 
    .nav-search .search-box:-webkit-autofill:focus
    .nav-search .search-box select:-webkit-autofill,
    .nav-search .search-box select:-webkit-autofill:hover,
    .nav-search .search-box select:-webkit-autofill:focus {
        background-color: transparent;
        transition: background-color 5000s ease-in-out 0s;
        color: #fff;
        -webkit-text-fill-color: #a3a0a0;
    }
   
    
    .modal-dialog{
        color:#7d7d7d;
        width:400px;

    .modal-content{
        background-color: #2e2e2e;
        color:#7d7d7d;
        display: flex;
        justify-content: center;
       
        .modal-header{

            justify-content: center;
        }
        .modal-footer{

            justify-content: center;
        }
        .modal-body{
            display: flex;
            justify-content: center;
        }
        .form-control{

            background-color:#7d7d7d;
            border:none;
            border-radius: 0;
            width:300px;
        }
        .col-form-label{

            font-size:14px;
            
        }

    }
   


}

