.navigation{
    height:60px;
    width: 100%;
    background-color: rgb(255,255,255); 
    
}
.container-nav{
    width:100%;
    @include align();
    .navlist {
        width:550px;
        height: 60px;
        padding: 0;
        border-left: solid 1px #a3a0a0;
           
    }
    .container-icons{
        width:180px;
        display: flex;
        justify-items: center;
        border-left: solid 1px #a3a0a0;
        .icon-btn{
            width: 90px;
            height:60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: solid 1px #a3a0a0;
            span.number {
                width: 20px;
                height: 20px;
                background-color: #a3a0a0;
                border-radius: 3px;
                color:rgb(255,255,255);
                margin:10px;
                padding: 0 3px;
                cursor: pointer;
                font-size:12px;
            
            }
            span.number:hover{
                background-color: #57c5a0;
            }
           
            
            
        }
       
    
    }

}
ul.navbar-nav {
    width:560px;
    display: flex;
    justify-content: space-around;
    li.nav-item {
        width: 100%;
        margin: auto;
        border-right: solid 1px #a3a0a0;
        display: flex;
        justify-content: center;
        a.nav-link {
            font-size: 16px;
            height:60px;
            padding: 20px;
            
            }
    }
    
}
.navbar-light .navbar-nav li.nav-item .active{
    color:#57c5a0;
}
