.prefooter{
    height:365px;
    background-color: #242424;
   
        
    
}
.main-container .second-cont{
    height:120px;
    display:flex;
    justify-content: space-between;
    padding: 40px;
    .email{
        height:40px;
        width:250px;
       
        
    }
}
.main-container .first-cont{
        
    height:245px;
    display:flex;
    justify-content: space-around;
    font-family:aller;
    .cont{
        width:280px;
        height:245px;
        
        color:#a4a4a4;
       
        padding-top:50px ;
        padding-right:15px;
        padding-left:15px;
        }
    }
.cont .picture-container{
      
    height:160px;
    width:245px;
    padding-top:25px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    .first{
        background-image: url("../img/flickr1.png");
        background-size: cover;
    

    }
    .second{
        background-image: url("../img/flickr2.png");
        background-size: cover;
        

    }
    .third{
        background-image: url("../img/flickr3.png");
        background-size: cover;

    }
    .fourth{
        background-image: url("../img/flickr4.png");
        background-size: cover;

    }
    .fifth{
        background-image: url("../img/flickr5.png");
        background-size: cover;

    }
    .sixth{
        background-image: url("../img/flickr6.png");
        background-size: cover;

    }
    .picture{

        height:60px;
        width:76px;
        background-color: #57c5a0;

    }

}





.first-cont .cont{
    text-align: left;
    img{
        padding-top:25px;
    }
    

   
     h5{
        font-size:14px;
        margin:0;

    }
     p.widget {
        font-size:12px;
        text-align:justify;
        padding-top: 25px;
        font-style: italic;
        
    }
    .twitter-text{
        display: none;
        font-size:12px;
        padding-top: 25px;
        font-style: italic;
        div{
            padding: 5px 0;
            color: #c4c5bf;
       
        }  
}


       
       
        span{
            color:#57c5a0;
        }
        

    }

.email .input-group .form-control{
    background-color: #2e2e2e;
    border:none;
    border-radius:0;
    font-size:12px;
    font-style: italic;
    font-family: aller;
    

    
}
.input-group-append .input-group-text{
    background-color: #7d7d7d;
    border:none;
    border-radius:0;
    cursor: pointer;
    
}
.second-cont .icons{
    width:220px;
    height:40px;
    
    display: flex;
    justify-content:space-between;
    

    span.icon{
        width:40px;
        height:40px;
        background-color:#2e2e2e; 
        color: #7d7d7d;
        display: flex;
  
        justify-content: center;
        align-items: center;
    }
    span.icon:hover{

        background-color: #242424;
        cursor: pointer;
    }

}
 .modal-dialog-centered .modal-content {
    height:120px;
    width: 200px;
.modal-body {
    height:120px;
    width: 200px;
   
}
}
