//BANNER
.banner{

    height:260px;
    width:100%;
    background-image: url("../img/banner_products.png");
    .text{
        height:260px;
        width:440px;
        margin-left: 500px;
        padding-top: 30px;
       .price-title{
        display: flex;
        align-items: center;
           
        .price{
    
            height:68px;
            width:68px;
            background-color: #57c5a0;
            color:white;
            display:flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
        }
        h6{
    
            font-size:40px;  
            padding-left: 20px;
        }
        
       }
       p{
        font-size:20px;
    
        }
}

}
//SHOP BY

.shop-by{
    color:white;
    height:90px;
    background-color: #2e2e2e;
    .shop-by-container{
        height:90px;
        width:100%;
       @include align();
       align-items: center;
       h1{
           font-size: 22px;
       }
    }
    .cont{
        height:60px;
        width:220px;
        background-color: #242424;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor:pointer;
        h1{

            font-size:18px;
        }
        
       
    }
    .dropdown-toggle::after{
        content:none;
            
    }
    .dropdown-menu{
        width:220px;
        color:white;
        background-color: #242424;
        .dropdown-item{
            color:white;

        }
        .dropdown-item:hover{

        background-color: #57c5a0;

        }
    }

}
.cont-all{
    background-color: #ebe7df;
    }

.products-container {

    height:100%;
   
    .title-buttons{
       @include align();
        height:85px;
        align-items: center;

        h1{
            margin:0;
        }
        .left{
            height:30px;
            width:260px;
            @include align();
            align-items: center;
            p{   height:10px;
                font-size:12px;
                margin:0;
                color:#bcb5a7;
                
            }
            h1{ height:30px;
                font-size:25px;
            }
        }
        .right{
            width:360px;
            @include align();
            align-items: center;
            p{
                font-size:14px;
                margin:0;
                color:#bcb5a7;
            }
            .icon{
                height:30px;
                width:30px;
                border:1px solid #bcb5a7;
                color:#bcb5a7;
                display: flex;
               justify-content: center;
               align-items: center;
               cursor: pointer;
            }
            .sort{
                height:30px;
                width:200px;
                border:1px solid #bcb5a7;
                color:#bcb5a7;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size:14px;
                
                span{
                    padding:0 10px;
                    
                }

            }
        }
    }
    .only-products{
        height:875px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom:1px solid #bcb5a7;
        .shoe{
                height:275px;
                width:300px;
                background-color: white;
                
                background-repeat: no-repeat;
                background-size: auto;
                cursor: pointer;
                .pic{
                    height:220px;
                    background-image: url('../img/product.png');
               
                }
                .badge-on-sale{
                    height:68px;
                    width:68px;
                    background-color:black;
                    color:white;
                    font-size:13px;
                    float: right;
                    margin-right: 13px;
                    padding: 28px 5px;
                    font-weight: bold;
                }

                .description{
                    height:55px;
                    border-top:1px solid #a3a0a0;
                    display:flex;
                    align-items: flex-end;
                    h1{
                        padding:20px 15px;
                        margin:0;
                        font-size:18px;
                        height:55px;
                    }
                    
                   
                    .price{
                        height:68px;
                        width:68px;
                        background-color:#57c5a0;
                        margin-left: 15px;
                        font-size: 13px;
                        color:white;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        justify-content: center;}
                    }
    }

    .shoe:hover{

        #icons{
            display:flex;
        }
        h1{
            display: none;}
    }
}
 #icons{
    display: none;
}
.description .icons{
    
    height:40px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin:5px;

     span.icon{
        height:40px;
        width:40px;
        background-color:white;
        color:#6e6e6e;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    span.icon:hover{

        color:#57c5a0;
        cursor: pointer;
    }
}
.only-products .pic.badge-out-off-stock{
    height:68px;
    width:68px;
    background-color:#f27e4b;
    color:white;
    font-size:13px;
    float: right;
    margin-right: 13px;
    padding: 14px 10px;
    font-weight: bold;
    
}

}

#second{
    display:none;
}

.only-products.second{
    height:100%;
    .line-shoe{
        background-color: #ffffff;
        height:220px;
        margin-bottom: 10px;
        @include align();
        .pic{
            border-right:1px solid #bcb5a7;
            height:220px;
            width:300px;
            background-image: url('../img/product.png');}
        .price{
                height:68px;
                width:68px;
                background-color:#57c5a0;
                
                font-size: 13px;
                color:white;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;}

        .icons{
    
                height:40px;
                width: 200px;
                display: flex;
                justify-content: space-around;
                margin:5px;
                
                span.icon{
                        height:40px;
                        width:40px;
                        background-color:white;
                        color:#6e6e6e;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                    }
                    span.icon:hover{
                
                        color:#57c5a0;
                        cursor: pointer;
                    }
            }
        .center{
            width:300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }  
        .right{
            width:68px;
            .badge-on-sale{
                height:68px;
                width:68px;
                background-color:black;
                color:white;
                font-size:13px;
                float: right;
                padding: 28px 5px;
                font-weight: bold;
            }
        }  

    }

}
