.products{

    height:1000px;
    background-color: #ebe7df;
}
.cont.new-arrivals{

    height:360px;
}
    .cont.best-seller{
    height:410px;
    border-bottom: 1px solid #bcb5a7;
}

.main-container .shipping-and-test-blog{
    height:235px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ebe7df;
    font-family: aller;
    .free-shipping{
        width:220px;
        height:185px;
        background-color: #dfdbd4;
        padding: 30px 15px;
        h5{
            font-size:14px;
            font-weight: bold;

        }
        p{
            font-size:12px;

        }
    }
    .testimonials{
        width:220px;
        height:185px;
        background-color: #dfdbd4;
        padding: 30px 15px;
        h5{
            font-size:14px;
            font-weight: bold;

        }
        p{
            font-size:12px;

        }

    
    }
   
}
// BLOG NEWS


.blog-news{
  width:460px;
  height:185px;
  background-color: #dfdbd4;
  padding:30px 20px;
     h5{
        
        font-size:14px;
        font-weight: bold;
        margin-bottom:15px;
    }
    .onefade,.twofade{
        width: 420px;
        height:100px;
        }
    }

.new{
           
    height:40px;
    display: flex;
    margin:10px 0;
        .date{
           width:35px;
            height:35px;
            background-color:#57c5a0;
            color:white;
            font-size:12px;
            font-weight: bold;
            text-align: center;
        }
            
        .text{   
           padding-left:10px;
           width:360px;
           h6{
               font-size:14px;
               font-weight: bold;
               margin:0;   
           }
           p{
               font-size:12px;
           }
        }
    }


    .onefade{
        display: none;
    }
    
    

    
    
    



   
.title-button{
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .btn-outline-secondary{
        width:100px;
        height:30px;
        border-radius:0;
        padding: 6px;
        font-size: 14px;
        color:#bfb8ab;
        border-color:#bfb8ab; 


    }}
    h1{
        font-size:25px;
        
    
    }

    
    .shoes-cont
    {
        height:275px;
        display: flex;
        justify-content: space-between;
       
        
        .shoe{
            height:275px;
            width:300px;
            background-color: white;
            
            background-repeat: no-repeat;
            background-size: auto;
            cursor: pointer;
            .pic{
                height:220px;
                background-image: url('../img/product.png');
                .badge-on-sale{
                    height:68px;
                    width:68px;
                    background-color:black;
                    color:white;
                    font-size:13px;
                    float: right;
                    margin-right: 13px;
                    padding: 28px 5px;
                    font-weight: bold;
                }

                
            }

            .description{
                height:55px;
                border-top:1px solid #a3a0a0;
                display:flex;
                align-items: flex-end;
               
                
               
                .price{
                    height:68px;
                    width:68px;
                    background-color:#57c5a0;
                    margin-left: 15px;
                    font-size: 13px;
                    color:white;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
                h1{
                    padding:20px 15px;
                    margin:0;
                    font-size:18px;
                    height:55px;
                }
            }
           
            
        }
        
        .description:hover{

            #icons{
                display:flex;
            }
            h1{
                display: none;}
        }
    }
     #icons{
        display: none;
    }
    .description .icons{
        
        height:40px;
        width: 200px;
        display: flex;
        justify-content: space-around;
        margin:5px;

         span.icon{
            height:40px;
            width:40px;
            background-color:white;
            color:#6e6e6e;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        span.icon:hover{

            color:#57c5a0;
            cursor: pointer;
        }
    }
     
   
    .pic{
    .badge-out-off-stock{
        height:68px;
        width:68px;
        background-color:#f27e4b;
        color:white;
        font-size:13px;
        float: right;
        margin-right: 13px;
        padding: 14px 10px;
        font-weight: bold;
        
    }
    }



 