.main-slider{
    height:460px;
    background-image: url("../img/img_bg.png");
    .slider{
        height:460px;
    }
    
 
}

.action{
    height:90px;
    background-color: #2e2e2e;
    
    

}
.slick-dots li{
    width: 190px;
    height: 10px;
    border-right: 10px solid black;
    border-left: 10px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background: black;
    color: #fff;
    text-decoration: none;

}
  
  .controller {
    width: 190px;
    color: #fff;
    text-decoration: none;
}
li.slick-active {
    background-color:#57c5a0;

    .controller .a-desc {
        color:white;
    }
    .controller .b-desc{color:white;}
    }
ul.slick-dots {
    display:flex;
    justify-content: center;
    padding:10px;
   
.desc{
    color:black;
}

.a-desc{
   
    font-size:18px;
    font-family: aller;
    display: flex;
    justify-content: center;
    color:#adadad;
    margin-top:10px;
}
.b-desc{
    font-family: aller;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color:#adadad;

}}

.img-text .slider-text{

    height:325px;
    width:400px;
    
    
    .price{

        height:68px;
        width:68px;
        background-color: #57c5a0;
        color:white;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
    }
    h6{

        font-size:40px;
    }
    p{
    font-size:20px;

    }
    .icons{
        height:40px;
        width: 170px;
        @include align();

         span.icon{
            height:40px;
            width:40px;
            background-color:white;
            opacity:0.8;
            color:#6e6e6e;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        span.icon:hover{

            color:#57c5a0;
            cursor: pointer;
        }
    }
    
}
.slider .slide{
    height:460px;
    .img-text{
        
    display: flex;
    justify-content: flex-end;
    align-items:center;
    height:460px;
    background-image: url("../img/Bg.png");
    margin-left: -30px;
    
    
    
   

    
}} 