.special-container{

    height:230px;
    background-color:#242424;
}
.container-pic{
    width:300px;

    height:180px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;


}
 .special-offers .container-desc{
    width:230px;

    

}
.all-container{
    height:230px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
    .container-desc{
    height:60px;
    width:180px;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-family:aller;
    font-size:25px;
    opacity: 0.8;
   
    //filter: alpha(opacity=80);
}

    .on-sale{
        background-image: url('../img/special.png');

    }
    .special-offers{

        background-image: url('../img/special2.png');
    }
    .must-have{

        background-image: url('../img/special3.png');
    }