@import 'header';

@import 'navBar';

@import 'slider';

@import 'special';

@import 'products';

@import 'prefooter';

@import 'footer';

@import '_productsPage';


@font-face{
    font-family: al;
    src:url('../fonts/Aller_Std_Rg.ttf');   
}





 /* BASE*/
*{
    margin:0;
    padding: 0;
    font-family:aller;
 
}
body{
    margin:0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;}
   

/* LAYOUT*/


.main-container{
    width: 100%;
   height:100%;
    margin:auto;
   
    
}

/* MEDIA QUERIES*/

@media (min-width:960px){
    .main-container {
        max-width:940px;
        
    }
}

@media (min-width:768px) and (max-width:959px) {
    
    .main-container {
        max-width:720px;
        //Prefooter
        .shipping-and-test-blog .free-shipping {

            display:none;
        }
        .cont.twitter{
            display:none;
        }
        .first-cont{
            justify-content: space-between;
            .cont{
                padding-left: 0;
                padding-right: 0;
    
            }
        }
        .second-cont{
            padding: 40px 0;
        }
        .cont{
            padding-left: 0;
            padding-left: 0;

        }
        .cont.flickr{
            width:245px;
        }
       

        //PRODUCTS
        .container-pic{
            width:220px;
        
            height:180px;
            
        }
        .special-offers .container-desc {
            width: 190px;
        }

        .shoes-cont .shoe {
            height: 270px;
            width: 220px;
            .pic{
                height:220px;
                background-image: url('../img/shoe_small.png');
            }
             .description {
                height: 50px;
                 .icons {
                     width: 130px;
                }
                 h1 {
                    padding: 12px;
                    text-align: center;}
                .icons span.icon {
                            height: 40px;
                            width: 25px; }    
        }}
        // NAVBAR
         .navlist {
            width:550px;}
           .container-icons{
               width:170px;
               border:none;
               .icon-btn{
                width: 85px;
                height:60px;}
           } 
           ul.navbar-nav{
               width:550px;
           }

        .navbar-expand-lg {
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-pack: start;
            justify-content: flex-start;
          }
          .navbar-expand-lg .navbar-toggler {
              display: none;
            }
          .navbar-expand-lg .navbar-collapse {
            display: -ms-flexbox!important;
            display: flex!important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
          }
          .navbar-expand-lg .navbar-nav {
                -ms-flex-direction: row;
                flex-direction: row;
          }
} 
        
}      
        
        
@media (min-width:320px) and (max-width:767px){
    .header .main-container .header-container ul.list-header{
        width: 160px;

    }
    .main-container .modal-dialog{
        width:250px;
        height:300px;
        .modal-content{
        width:250px;
        height:300px;

            .form-control{
            width:150px;}
            .modal-body{
               padding:0;}
             button.btn.btn-secondary{
                 height:35px;

             }
        }
    }

    .prefooter {
        height: 500px;
        .main-container .first-cont
        {
            height:380px;
            flex-direction: column;
            align-items: center;
            .cont{
                height:190px;
                padding-top: 20px;
                .picture-container{
                   width:250px;
                }
                .form{
                    width:187px;
                }
            }
        }
        .main-container .second-cont{
                    flex-direction: column;
                    padding:15px ;
                    align-items: center;
                    .email {
                        
                        width: 220px;
                        .input-group .form-control{
                            width:188px;}
    
                    }
    
            }
        }
    
    
    //SPECIAL

    .special-container {

        height: 540px;
        .all-container {
            height: 540px;
            align-items: center;
            flex-direction: column;
            .container-pic {
                width:250px;
                height: 170px;}
              
        }
    }

    //PRODUCTS
          
.products{
        height:2200px;
   }
.main-container {
        max-width: 320px;

        .cont.new-arrivals {
                height: 935px;}

        .cont.best-seller {
                height: 950px;}

        .shoes-cont {
                        height: 850px;
                        flex-direction: column;
                        align-items: center;
                        .shoe{
                            
                                height: 275px;
                                width: 250px;
                        }


                    }

    //SHIPPING AND BLOG
    .shipping-and-test-blog {
            height: 315px;
            justify-content: space-around;
            flex-direction: column;
             .testimonials
                {
                     width: 320px;
                     height: 140px;
                    padding: 15px;
                }
                .free-shipping{
                    display: none;
                }
                        
                .blog-news { 
                    width: 320px;
                    height: 140px;
                    padding: 15px;}
                        

                .blog-news .onefade, .blog-news .twofade {
                 width: 300px;;
                 height: 90px;}
                .new{
                    height:35px;
                    padding:0;
                    
                .text p{
                    font-size: 10px;
                     margin:0}
                }
            }
       //Prefooter
      

       
        
        
        // NAVBAR
        
        .nav-search{
            display: none;
        }
        .navlist{
            width:140px;
        }
        .navigation .navbar{
            position: static;
        }
        .navigation .navbar-collapse{
        
          position: absolute;
          top: 0px;
          left: 0px;
          background-color: #fff;
          width: 100%;
          z-index: 10;
          top: 106px;
        }
        div#navbarNav {
            width: 320px;
            z-index: 100;
            background-color: white;
        }
        
        ul.navbar-nav{
            width: 100%;

        }
        li.nav-item{
            border-right: none;
        }

        //SLiDER
        .slider .slide .img-text{
            margin:0;
            background-image: url("../img/Bg_small.png");
            
            .slider-text{
             height: 350px;
            width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            h6{
                font-size:25px;
                
            }
            p{
                font-size:14px;
                
            }
            .price {
                height: 50px;
                width: 50px;
                opacity: 0.8;
            }
        }
       
    }
    .slick-dots li {
            
        width: 100px;
        height: 10px;
         .a-desc{
             font-size: 15px;

         }
         .b-desc{
             font-size: 10px;
         }
    
    
        }
    .controller{
        width: 100px;
        }

        .cont.twitter{
            display: none;

        }


}
.footer-cont {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
        

    }


}